<form asp-action="Upload" enctype="multipart/form-data" method="post">
    <div>
        <label for="file">Choisir un fichier :</label>
        <input type="file" id="file" name="file" />
    </div>
    <button type="submit">Envoyer</button>
</form>
