@model IEnumerable<SiteWebMultiSport.Models.Adherant>

<h1>Gestion du site</h1>
<ul>
    <li><a asp-controller="Adherant" asp-action="Index">Gérer les Adhérents</a></li>
    <li><a asp-controller="Discipline" asp-action="Index">Gérer les Disciplines</a></li>
    <li><a asp-controller="Section" asp-action="Index">Gérer les Sections</a></li>
</ul>

