@model IEnumerable<SiteWebMultiSport.Models.Adherant>

<h1 class="d-flex justify-content-center" >Gestion du site</h1>
<div class="d-flex justify-content-center gap-2">
    <a asp-controller="Adherant" asp-action="Index" class="btn btn-primary">Gérer les Adhérents</a>
    <a asp-controller="Discipline" asp-action="Index" class="btn btn-primary">Gérer les Disciplines</a>
        <a asp-controller="Section" asp-action="Index" class="btn btn-primary">Gérer les Sections</a>
</div>  

